name: "UniFi Voucher Site"
description: "UniFi Voucher Site is a web-based platform for generating and managing UniFi network guest vouchers"
version: "8.6.1"
slug: "unifi_voucher_site"
image: glenndehaan/unifi-voucher-site
init: false
arch:
  - aarch64
  - amd64
ingress: true
ingress_port: 3000
panel_icon: mdi:wifi-lock-open
panel_title: UniFi Voucher
panel_admin: false
environment:
  AUTH_DISABLE: 'true'
options:
  unifi_ip: '192.168.1.1'
  unifi_port: 443
  unifi_token: ''
  unifi_site_id: 'default'
  unifi_ssid: ''
  unifi_ssid_password: ''
  voucher_types: '480,1,,,;'
  voucher_custom: true
  service_api: false
  printers: ''
  smtp_from: ''
  smtp_host: ''
  smtp_port: 25
  smtp_secure: false
  smtp_username: ''
  smtp_password: ''
  kiosk_enabled: false
  kiosk_voucher_types: '480,1,,,;'
  kiosk_name_required: false
  kiosk_timeout: 60
  kiosk_homepage: false
  kiosk_email: false
  kiosk_printer: ''
  log_level: 'info'
  translation_default: 'en'
  translation_hidden_languages: ''
  task_cleanup_expired: false
  task_cleanup_unused: false
schema:
  unifi_ip: str
  unifi_port: port
  unifi_token: password
  unifi_site_id: str
  unifi_ssid: str?
  unifi_ssid_password: password?
  voucher_types: str
  voucher_custom: bool
  service_api: bool
  printers: str?
  smtp_from: str?
  smtp_host: str?
  smtp_port: port?
  smtp_secure: bool
  smtp_username: str?
  smtp_password: password?
  kiosk_enabled: bool
  kiosk_voucher_types: str?
  kiosk_name_required: bool
  kiosk_timeout: int
  kiosk_homepage: bool
  kiosk_email: bool
  kiosk_printer: str?
  log_level: "list(error|warn|info|debug|trace)"
  translation_default: "list(en|br|cs|da|de|es|fi|fr|nl|pl|pt|ru)"
  translation_hidden_languages: str?
  task_cleanup_expired: bool
  task_cleanup_unused: bool
